header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  box-shadow: 0 2px 10px #cecece;
  padding: 15px 0 8px 0;
  background: #278476;
}

.branding {
  background: url("../images/yatchpoint.svg") no-repeat;
  display: block;
  width: 170px;
  height: 40px;
  float: left;
  text-indent: -9999px;
}

.branding a:link {
  color: #56627A;
  text-decoration: none;
  outline: 0;
}

nav {
  margin-top: 10px;
  float: right;
}

nav ul {
  list-style-type:  none;
  text-align: right;
}

nav li {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
}

nav li a:link {
  color: #091c5a;
  text-decoration: none;
  outline: 0;
}

nav li a:visited {
  color: #091c5a;
  text-decoration: none;
  outline: 0;
}

nav li a:hover {
  color: #ff6600;
  text-decoration: none;
}

nav li a:active {
  color: #ff6600;
  text-decoration: none;
}

#news {
  width: 100;
  padding: 100px 0;
  background-color: #1b4e61;
}

#news h3{
  text-align: left;
  font-weight: 400;
  color: #fff;
}

#news p{
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
 
}
.portfolio-grid .columns_4 {
  background-color: rgba(255, 255, 255, 0.9);
  width: 215px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  height: 215px;
  margin: 0 10px 0 10px;
}

.portfolio-grid .columns_4 p {
  text-align: center;
  margin-bottom: 0;
}

.portfolio-grid {
  overflow: hidden;
  clear: both;
  margin-bottom: 20px;
}
#campaign {
  width: 100;
  padding: 100px 0;
  background-color: #fff;
}

#campaign h3{
  text-align: left;
  font-weight: 400;
}

#campaign p{
  margin-bottom: 20px;
  text-align: left;
  
}

#about {
  width: 100;
  padding: 100px 0;
  background-color: #000;
}

#about h3{
  text-align: left;
  font-weight: 400;
  color: #fff;
}

#about p{
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
}

#video {
  width:100%;
  background-color:#000000;
  padding: 100px 0;   
}

#footer {
  width: 100;
  padding: 100px 0;
  background-color: #cecece;
}

#footer h1{
  text-align: center;
  font-weight: 300;
  color: #000;
}
#footer p{
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}


/*
============================================================
  Parallax CSS SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 100px 0;
  background-color: #1b4e6d;
}
section.module2.content {
  padding: 100px 0;
  background: rgba(246, 92, 81, 1);
}
section.module3.content {
  padding: 100px 0;
  background-color: #F2F2F2;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	background-image: url("../images/Monaco-Port-Night-e1455795401367.jpg");
}
section.module.parallax h1 {
  margin-top: 0;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 800px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote {
  font-size: 3em;
}
section.module.parallax-4 {
  background-image: url("../images/ytg0916_cur01.jpg");
  background-color: #1b4e61;
}
section.module.parallax-1 {
  background-image: url("../images/St..Thomas.original.7100.jpg");
  background-color: #1b4e61;
}
section.module.parallax-2 {
  background-image: url("../images/Split-Croatia-Wallpaper.jpg");
  background-color: #58595B;
}
section.module.parallax-3 {
  background-image: url("../images/luxury-yacht-sales-and-charter.jpg");
 background-color: #58595B;

}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 96px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 96px;
  }
}

/* ------- [ End Parallax CSS ] ------- */

